:root {
  --main-bg-color: rgba(2, 0, 36, 1) 0%;
  --second-bg-color: rgba(9, 9, 121, 1) 43%;
  --third-bg-color: rgba(24, 121, 181, 1) 100%;
  --primary-text-color: hsl(292, 37%, 53%);
  --secondary-text-color: hsl(216, 100%, 65%);
  --subtitle-primary-color: hsl(293, 67%, 47%);
  --subtitle-secondary-color: hsl(234, 62%, 64%);
  --card-primary-text-color: #fff;
  --card-secondary-text-color: rgba(255, 255, 255, 0.4);
  --shadow-color: rgb(0 0 0 / 0.5);
  --card-gradient-color: rgba(0, 0, 0, 0.5);
  --footer-title-primary-color: hsl(234, 89%, 71%);
  --footer-title-secondary-color: hsl(234, 62%, 64%);
  --icon-hover-color: hsl(234, 81%, 71%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: arial;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  background: linear-gradient(
    179deg,
    var(--main-bg-color),
    var(--second-bg-color),
    var(--third-bg-color)
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  padding-top: 15px;
}

.title {
  font-size: 30px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    311deg,
    var(--primary-text-color),
    var(--secondary-text-color)
  );
  text-align: center;
}

.sub-title {
  font-size: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    40deg,
    var(--subtitle-primary-color),
    var(--subtitle-secondary-color)
  );
  text-align: center;
  margin-bottom: 40px;
}

.holidays-list {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  color: var(--card-primary-text-color);
}

.holidays-list-card {
  width: 320px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 20px 25px -5px var(--shadow-color),
    0 8px 10px -6px var(--shadow-color);
  position: relative;
  overflow: hidden;
  padding: 15px;
  margin: 0 auto;
}

.christmas-card {
  background-image: linear-gradient(
      var(--card-gradient-color),
      var(--card-gradient-color)
    ),
    url("./images/christmas.jpg");
}
.newYear-card {
  background-image: linear-gradient(
      var(--card-gradient-color),
      var(--card-gradient-color)
    ),
    url("./images/newYear.jpg");
}

.valentines-card {
  background-image: linear-gradient(
      var(--card-gradient-color),
      var(--card-gradient-color)
    ),
    url("./images/valentines-day.jpg");
  background-position: center;
}

.card-title {
  color: var(--card-primary-text-color);
  font-size: 22px;
}

.seconds-circle {
  position: absolute;
  top: -15px;
  left: -184px;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform-origin: center center;
}

.seconds-circle span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  transform: translate(-50%, -50%);
}

.seconds-circle .active {
  color: var(--card-primary-text-color);
  font-size: 16px;
  font-weight: bold;
}

.time-wrap {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-top: 70px;
  align-items: baseline;
}

.time-number {
  font-size: 16px;
  font-weight: bold;
}

.time-text {
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 11px;
}

.time-text-seconds {
  margin-left: 36px;
  text-transform: uppercase;
  font-size: 11px;
}

.button {
  position: relative;
  overflow: hidden;
  width: 320px;
  display: block;
  margin: 40px auto 0;
  border-radius: 10px;
  padding: 5px;
  border: none;
  color: var(--card-primary-text-color);
  cursor: pointer;
  font-size: 18px;
  background-image: linear-gradient(
    311deg,
    var(--primary-text-color),
    var(--secondary-text-color)
  );
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    311deg,
    var(--secondary-text-color),
    var(--primary-text-color)
  );
  opacity: 0;
  transition: opacity 0.8s ease;
  z-index: -1;
}

.button:hover::before {
  opacity: 1;
}

.icons-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.icon-link {
  color: var(--footer-title-secondary-color);
  transition: color 0.8s ease;
}

.icon-link:hover {
  color: var(--icon-hover-color);
}

.icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.footer-title {
  font-size: 18px;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    40deg,
    var(--footer-title-primary-color),
    var(--footer-title-secondary-color)
  );
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .holidays-list-card {
    width: calc((100% - 40px) / 2);
    height: 300px;
  }

  .title {
    font-size: 50px;
  }

  .sub-title {
    font-size: 30px;
  }

  .card-title {
    font-size: 22px;
  }

  .seconds-circle span {
    font-size: 18px;
  }

  .seconds-circle .active {
    font-size: 20px;
  }

  .time-number {
    font-size: 20px;
  }

  .time-text {
    font-size: 12px;
  }

  .time-wrap {
    margin-top: 94px;
    gap: 15px;
  }

  .seconds-circle {
    left: -174px;
  }

  .time-text-seconds {
    font-size: 12px;
  }

  .time-text-seconds {
    margin-left: 37px;
  }

  .footer-title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }

  .holidays-list-card {
    width: calc((100% - 40px) / 3);
    height: 400px;
  }

  .title {
    font-size: 70px;
  }

  .sub-title {
    font-size: 50px;
  }

  .card-title {
    font-size: 27px;
  }

  .seconds-circle span {
    font-size: 27px;
  }

  .seconds-circle .active {
    font-size: 29px;
  }

  .time-number {
    font-size: 29px;
  }

  .time-text {
    font-size: 17px;
  }

  .time-wrap {
    margin-top: 139px;
    gap: 20px;
  }

  .seconds-circle {
    left: -140px;
  }

  .time-text-seconds {
    margin-left: 40px;
    font-size: 17px;
  }

  .button {
    margin-top: 50px;
    font-size: 20px;
  }
}
